:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(255, 217, 49, 1) 0%, rgba(66, 27, 185, 1) 0%, rgba(2, 4, 23, 1) 100%);
}

#app {
  margin: 0 auto;
  border-radius: 40px;
  color: #ffcd25;
  background-color: rgb(2, 7, 32);
  box-shadow: -2px -2px 25px 3px #ffcd25;
  border-left: 1px solid #ffcc25da;
  border-top: 2px solid #ffcc25da;
  padding: 2.5rem 3rem;
  letter-spacing: .3rem;
}

svg {
  width: 90%;
  height: 90%;
}